.btn {
  font-weight: 700;
  display: inline-block;
  text-align: center;
  border-radius: .3em;
  cursor: pointer;
}

.secondary-btn {
  color: $aubergine;
  border: 1px solid $aubergine_button;
}

.primary-btn {
  color: $white;
  background-color: $aubergine_button;
}

.inverted-btn {
  color: $aubergine;
  background-color:  $white;
}

.inverted-secondary-btn {
  color: $white;
  border: 1px solid $white;
}

.inverted-btn:hover{
  box-shadow: 0 0 0 2px $aubergine inset;
  transition: .2s; 
}
.inverted-secondary-btn:hover{
  box-shadow: 0 0 0 1px $white inset;
  transition: .2s;
}

.secondary-btn:hover{
  box-shadow: 0 0 0 1px $aubergine_button;
  transition: .1s; 
}

.primary-btn:hover {
  background-color: $aubergine;
  transition: .3s; 
}

.full-width-btn {
  width: 100%;
  padding: 1.2em 0;
}

.medium-btn {
  width: 6rem;
  padding: .75em 1em;
}

.large-btn {
  width: 7rem;
  padding: .75em 1em;
}
.large-lng-btn {
  width: 10rem;
  padding: .75em 1em;
}

.full-width-btn-bold {
  padding-top: .7em;
  padding-bottom: .7em;
  font-size: pxToRem(18);
  font-weight: 900;
}
.small-btn {
  width: 6rem;
  padding: .5em .8em;
}

.smaller-btn {
  width: 5rem;
  padding: .6em .6em;
}

.simple-btn {
  border: 1px solid #b5b5b5;
  background-color: #ffffff;
}

.simple-btn:hover {
  background-color: #f8f8f8;
}

.primary-btn-alt-hover {
  color: $white;
  background-color: $aubergine_button;
}

.primary-btn-alt-hover:hover {
  background-color: $aubergine_active;
  transition: .3s; 
}

.search-btn {
  display: inline-block;
  text-align: center;
  border-radius: .2em;
  cursor: pointer;
}

.grey-btn-inactive {
  background-color: #ddd;
  cursor: auto;
}

.grey-secondary-button {
  background-color: #ddd;
}

.green-btn {
  font-size: pxToRem(16);
  background-color: #007a5a;
  color: white;
}

.green-btn:hover {
  background-color: #148567;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.712);
}

input[type='checkbox'].toggle {
  position: fixed;
  opacity: 0;
  left: -100px;
  top: -100px;
}

input[type='checkbox'].toggle + label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 26px;
}
input[type='checkbox'].toggle + label:hover {
  cursor: pointer;
}
input[type='checkbox'].toggle:checked + label {
  color: red;
}

input[type='checkbox'].toggle + label:before {
  content: "";
  width: 2em;
  height: 1.1em;
  background-color: white;
  border-radius: 1em;
  border: 1px solid rgba(65, 65, 65, 0.418);
}

input[type='checkbox'].toggle:focus + label:before {
  border: none;
  --highlight: rgba(18,100,163,1);
  box-shadow: 0 0 0 1px var(--highlight),0 0 0 5px rgba(29,155,209,.3);
}

input[type='checkbox'].toggle + label:after {
  content: "";
  position: absolute;
  left: .1em;
  width: .8em;
  height: .8em;
  background-color: #605f60;
  border-radius: 1em;
  transition: .1s ease-in;
}

input[type='checkbox'].toggle:checked + label:before {
  background-color: #007a5a;
}
input[type='checkbox'].toggle:checked + label:after {
  transform: translateX(1em);
  transition: .1s ease-in;
  background-color: white;
}

.blue-outline-input {
  border: 1px solid rgba(29,28,29,.3);
  border-radius: pxToRem(4);
}

.blue-outline-input:focus {
  // -- is a custom property name
  // var is used to insert the value of a css variable
  --highlight: rgba(18,100,163,1);
  box-shadow: 0 0 0 1px var(--highlight),0 0 0 5px rgba(29,155,209,.3);
  border-radius: 4px;
}

.blue-outline-input:focus-within {
  --highlight: rgba(18,100,163,1);
  box-shadow: 0 0 0 1px var(--highlight),0 0 0 5px rgba(29,155,209,.3);
  border-radius: 4px;
}

.tab:hover {
  cursor: pointer;
}