.secondary-button:hover{
  border: 2px solid $aubergine_button;
  cursor: pointer;
  transition: .1s; 

  
}

.primary-button:hover {
  cursor: pointer;
  background-color: $aubergine;
  transition: .3s; 

}

.secondary-button {
  color: $aubergine;
  font-weight: 700;
  border: 1px solid $aubergine_button;
  border-radius: .3em;
  text-align: center;
  width: 100%;
}

.primary-button {
  color: $white;
  font-weight: 700;
  background-color: $aubergine_button;
  text-align: center;
  border-radius: .3em;
  width: 100%;
}
