.channel-messages-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  min-height: 0;
}

.channel-messages-header{
  display: flex;
  align-items: center;
  height: pxToRem(52);
  flex-grow: 0;
  padding: 0 1em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  justify-content: space-between;
}

.channel-messages-header-title{
  display: flex;
  align-items: center;
  font-size: pxToRem(18);
  font-weight: 900;
  padding: 0.2rem;
  border-radius: 5px;
}

.channel-messages-header-title:hover {
  cursor: pointer;
  background-color: #f6f6f6;
}

.channel-messages-header-title:active {
  background-color: #e1e1e1;
}

.channel-messages-header-lock-icon {
  width: pxToRem(20);
  height: pxToRem(20);
  box-sizing: border-box;
  padding: .1em;
  margin-right: .2em;
}

.channel-messages-header-hash-icon {
  width: pxToRem(20);
  height: pxToRem(20);
}

.client-channel-messages-outer {
  display: flex;
  flex-grow: 1;
  flex-direction: column-reverse;
  overflow-x: auto;
  box-sizing: border-box;
  height: calc(100vh - 246.2px);
}

.client-channel-messages-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.client-channel-messages-container-grey {
  height: 0;
  flex: 1 1 0;
  overflow-y: scroll;
  padding: 0 1em; 
  background-color: #f8f8f8;
}
.channel-msg-item-container {
  position: relative;
  display: flex;
  column-gap: .5em;
  padding: 0.5em 1em;
}

.channel-msg-item-container:hover {
  background-color: #f8f8f8;
}

.channel-msg-item-profile {
  width: pxToRem(36);
  height: pxToRem(36);
  display: flex;
  padding-top: .2em;
  padding-left: .1em;
  padding-right: .1em;
  border-radius: .2em;
  align-items: flex-end;
  justify-content: center;
  background-color: $faded;
  flex-shrink: 0;
}
.channel-messages-members-button-container {
  display: flex;
  column-gap: .2em;
  border: 1px solid #b5b5b5da;
  border-radius: .3em;
  padding: .2em .3em;
  color: #606060;
}

// .channel-messages-members-icon-container{
//   left: 2px;
//   display: flex;
//   padding-right: .15em;
//   background-color: white;
//   border-radius: .2em;
//   flex-shrink: 0;
// }

.channel-messages-members-icon {
  padding-top: .2em;
  padding-left: .1em;
  padding-right: .1em;
  border-radius: .2em;
  align-items: flex-end;
  justify-content: center;
  background-color: $faded;
  color: $white;
}

.channel-msg-profile-icon {
  width: 100%;
  height: 100%;
  color: white;
}

.channel-msg-content {
  width: 100%;
  font-size: pxToRem(15);
  display: flex;
  flex-direction: column;
  row-gap: .3em;
}

.channel-msg-author {
  font-weight: 900;
}

.channel-msg-author:hover {
  cursor: pointer;
  text-decoration: underline;
}

.channel-msg-body {
  line-height: 1.2em;
}

.channel-msg-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.channel-msg-header-left {
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
}

.channel-msg-time {
  font-weight: 300;
  font-size: 13px;
  color:#222222;
}

.channel-msg-edit-button {
  color: #606060;
}

.channel-msg-edit-button:hover {
  cursor: pointer;
  text-decoration: underline;
}


.text-editor-container {
  position: relative;
  padding: .5em 1em 1em 1em;
  height: pxToRem(150);
  border-top: 1px solid rgba(0,0,0,0.1);
}

.text-area-message {
  width: 100%;
  font-family: "Lato";
  font-size: pxToRem(16);
  border: none;
}

.message-text-editor {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 1em;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid #b8b8b8cc;
  height: 100%;
}

.message-text-editor:hover {
  cursor: text;
}

.message-text-editor:focus-within {
  border: 1px solid #525252cc;
}

.message-text-errors {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  bottom: 100%;
  left: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  color: red;
  background-color: #f8f8f8;
  padding: 0.5rem 1rem;
}
.message-text-errors-close {
  padding: 0.3rem;
  border-radius: 5px;
}
.message-text-errors-close:hover {
  cursor: pointer;
  background-color: #969696;
}