.channels-list-container {
  color: #cfc3cf;
  font-size: pxToRem(16);
  padding-top: 1em;
  overflow-y: auto;
}
.channels-sidebar-heading {
  display: flex;
  z-index: 1;
  align-items: center;
  padding-bottom: .5em;
  cursor: pointer;
  padding: 0em .8em 0 1em;
}


.channels-sidebar-heading-label {
  padding-left: .3em;
  flex: 1 1 0;
}

.channel-sidebar-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.channel-header-add-icon {
  width: 90%;
  height: 90%;
}

.channel-footer-add-icon-container {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-right: pxToRem(8);
  width: pxToRem(20);
  height: pxToRem(20);
}
.channel-footer-add-icon {
  padding: .2em;
  height: 100%;
  width: 100%;
  border-radius: .5em;
  background-color: rgb(83, 39, 84);
}


.channels-header-sml-icon {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: pxToRem(26);
  height: pxToRem(26);
}

.channels-header-sml-icon:hover {
  cursor: pointer;
  background-color: rgb(83, 39, 84);
  border-radius: .2em;
}
.channels-sidebar-heading-buttons{
  display: flex;
  column-gap: .2em;
  opacity: 0;
  transition: opacity .3s ease-out;
}

.channels-sidebar-heading:hover > .channels-sidebar-heading-buttons {
  opacity: 100%;
}

.channels-list-index {
  display: flex;
  flex-direction: column;
}

.channel-list-item {
  height: pxToRem(28);
  display: flex;
  align-items: center;
  padding: 0em .3em 0 1.7em;
}

.direct-message-list-item {
  height: pxToRem(28);
  display: flex;
  align-items: center;
  padding: 0em .3em 0 1.7em;
  justify-content: space-between;

}

.direct-message-item-content{
  display: flex;
  align-items: center;
  min-width: 0;
  // need this for the ellipsis to work on direct-message-list-item-text
}

.direct-message-list-close-button {
  opacity: 0;
  height: pxToRem(28);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0.2rem;
}

.direct-message-list-item:hover {
  cursor: pointer;
}

.direct-message-list-close-icon {
  width: 90%;
  height: 90%;
}

.direct-message-list-item:hover .direct-message-list-close-button {
  opacity: 100%;
}

.direct-message-list-close-button:hover .direct-message-list-close-icon {
  color: #e6e1e6;
}

.direct-message-list-close-icon {
  color: #9b959b;
}

.channel-list-item:hover {
  background-color: $client_hover;
  cursor: pointer;
}

.direct-message-list-item-text {
  height: 100%;
  line-height: 28px;
  min-width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.channel-list-item-text {
  height: 100%;
  line-height: 28px;
}
.channel-list-item-icon-container {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: pxToRem(20);
  height: pxToRem(20);
  padding-right: pxToRem(8);
}

.channel-list-lock-icon {
  width: 60%;
  height: 60%;
}

.active-channel {
  background-color: #1264a3;
  color: white;
}

.active-channel:hover {
  background-color: #1264a3;
  color: white;
}

.caret-down {
  transition: .2s;
}
.rotate-caret-sideways {
  transition: .2s;
  transform: rotate(-90deg);
}