.channels-list-container {
  padding: 1em;
  color: #cfc3cf;
}
.channels-sidebar-heading {
  display: flex;
  align-items: center;
}
.channels-sidebar-heading-label {
  flex: 1 1 0;
}

.channel-sidebar-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.channels-list-expand-icon {
  margin-right: .2em;
}

.channels-header-sml-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: pxToRem(26);
  height: pxToRem(26);
}

.channels-header-sml-icon:hover {
  cursor: pointer;
  background-color: rgb(83, 39, 84);
  border-radius: .3em;
}
.channels-sidebar-heading-buttons{
  display: flex;
  column-gap: .2em;
  opacity: 0;
  transition: opacity .3s ease-out;
}

.channels-sidebar-heading-buttons:hover{
  opacity: 100%;
}
