// Accent Colors
// Primary
$aubergine: #4A154B;
$tan_background: #f6efe8;

// Zero and hover states
$aubergine_null: #644F69;
$aubergine_active: #7C3085;

$black: #1C1D1C;
$white: #fff;

// Accessible colors 
// Blue for text links on white background
// Green for success states on web
$blue_accessible: #1264A3;
$green_accessible: #007A5A;

// LOGO colors not included, should only be used in illustrations