// Accent Colors
// Primary
$aubergine: #4A154B;
$tan_background: #f6efe8;

// Zero and hover states
$aubergine_null: #644F69;
$aubergine_active: #7C3085;
$aubergine_search: #5d3d5e;
$aubergine_button: #611f69;
$aubergine_hover: #3f1444;

$billboard_bg: #ecdeec;
$client_bg: #3f0e40;
$client_hover: #350d36;

$black: #1C1D1C;
$white: #fff;

// background when logged out
$peach: #f6efe8;

// Accessible colors 
// Blue for text links on white background
// Green for success states on web
$blue_accessible: #1264A3;
$green_accessible: #007A5A;

// LOGO colors not included, should only be used in illustrations