// Slack logo uses Hellix Bold, alternative => kumbh Sans need to import 
// Slack headline uses Larsseit, alternative => Muli/Mulish for now
// Slack Body uses Circular, alternative => +Jarkarta Sans
// Slack ChatClient message font => Lato free

// headline
@font-face {
  font-family: 'Mulish';
  src: url('Mulish-VariableFont_wght.ttf');
}

// Text Body
@font-face {
  font-family: 'PlusJakartaSans';
  src: url('PlusJakartaSans-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('PlusJakartaSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('PlusJakartaSans-Regular.ttf');
  font-weight: normal;
}

// Chat Client
@font-face {
  font-family: 'Lato';
  src: url('Lato-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato-Bold.ttf');
  font-weight: 700;
}


@font-face {
  font-family: 'Lato';
  src: url('Lato-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('KumbhSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('KumbhSans-ExtraBold.ttf');
  font-weight: 800;
}

