.get-started-main {

  padding-bottom: 5em;
  margin-bottom: 3em;
}
// .get-started-logo {
//   display: flex;
//   justify-content: center;
//   width: 100%;
//   padding-top: pxToRem(48);
//   padding-bottom: pxToRem(40);
// }
.get-started-banner {
  background-color: #f9f6f1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: pxToRem(48);
  padding-bottom: pxToRem(40);
  justify-items: center;
  align-items: center;
}

.get-started-confirmed-user{
  font-size: pxToRem(13);
  background-color: #f0ede9;
  color: #616061;
  border-radius: 2em;
  padding: .8em 1.2em;
 
}

.get-started-confirmed-user strong {
  font-weight: 700;
}

.get-started-confirmed-user > span:hover {
  text-decoration: underline;
  color: rgb(0, 83, 179);
  cursor: pointer;
}
.get-started-logo > a > img {
  width: pxToRem(130)
}

.gs-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gs-top-billboard{
  background-color: #f9f6f1;
  width: 100%;
  padding-bottom: 3em;
}

.get-started-details {
  width: min(45rem, 80%);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.get-started-details > img {
  width: pxToRem(250);
}

.get-started-copy {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.get-started-copy > h1 {
  font-family: "Mulish";
  font-size: pxToRem(45);
  font-weight: 700;
}

.get-started-copy > p{
  width: pxToRem(360);
  font-family: "Lato";
  font-size: pxToRem(18);
  line-height: 1.6rem;
}

.relay-privacy-policy {
  width: pxToRem(320);
  font-family: "Lato";
  font-size: pxToRem(15);
  line-height: 1.2rem;
  font-weight: 300;
  color: rgba(41, 41, 41, 0.884)
}

.no-workspaces-question{
  width: min(45rem, 80%);
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1em;
  align-items: center;
  width: pxToRem(600);
  height: pxToRem(200);
  padding: 2em;
  border: 1px solid rgba(194, 194, 194, 0.644);
  border-radius: .3em;
  text-align: center;
  color: #706f70;
}

.no-workspaces-question > h2 {
  font-size: large;
  font-weight: 700;
  width: pxToRem(400);
}

.no-workspaces-question > p {
  width: pxToRem(400);
  font-size: pxToRem(15);
  font-weight: 300;
  line-height: 1.5rem;
}

.grey-alt-button {
  font-size: pxToRem(15);
  border:1px solid rgba(153, 153, 153, 0.774);
  width: 9rem;
  padding: .5em .75em;
}

.grey-alt-button:hover {
  --highlight: rgba(18,100,163,1);
  box-shadow: 0 0 0 1px var(--highlight),0 0 0 5px rgba(29,155,209,.3);
  border-radius: 4px;
}
.gs-your-workspaces {
  display: flex;
  font-family: "Lato";
  flex-direction: column;
  align-items: center;
}

.gs-your-workspaces > h2 {
  font-size: pxToRem(18);
  font-weight: 700;
  padding-bottom: 1.5em;
}
.get-started-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-weight: 700;
  color: #706f70;
  width: pxToRem(70);
  height: pxToRem(70);
  border-radius: 50%;
  margin-top: -35px;
}

.gs-workspaces-list {
  width: pxToRem(600);
  border: 1px solid #ddd;
  border-radius: .1em;
  box-shadow: 0 0 1rem rgba(141, 141, 141, 0.158);
}

.gs-workspaces-list-header {
  padding: 1.5em 1.5em 1em 1.5em;

}
.gs-workspaces-list-header strong {
  font-weight: 700;
}

.gs-workspace-item {
  display: flex;
  padding: 1em 1.5em;
  column-gap: 1em;
  align-items: center;
}

.gs-workspace-item:hover {
  cursor: pointer;
  background-color: #f8f8f8;
}

.gs-workspace-item > img {
  width: pxToRem(45);
  height: pxToRem(45);
}

.gs-workspace-item-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}

.gs-workspace-item-divider {
  margin: 0 1.5em;
  border: none;
  border-top: 1px solid #ddd;
}

.gs-workspaces-list-footer {
  font-size: pxToRem(15
  );
  color: #616061;
  padding: 1.5em;
}

.gs-workspaces-list-show:hover{
  cursor: pointer;
  text-decoration: underline;
}