.header-container {
  position: absolute;
  top: 0;
  height: pxToRem(80);
  width: 100%;
  font-family: 'PlusJakartaSans';
  font-weight: bold;
}

.header-relay-logo {
  display: inline-block;
  width: pxToRem(100);
}

.header-relay-logo:hover {
  cursor: pointer;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: min(80rem, 90%);
  margin: 0 auto; 
}

.header-nav-link-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.business-nav-links{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  a:not(:first-child):hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

.session-nav-links{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 38%;
}

.session-nav-links a:first-child:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}


.header-menu-icon {
  width: pxToRem(20);
}

.header-menu-icon:hover {
  cursor: pointer;
}


// .header-session-buttons {
//   
// }

// .loggedin-links {
//   width: 28%;
// }

// .loggedin-session-buttons {
//   width: 7rem;
//   padding: .75em .5em;
// }

