.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.second-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.dark-modal {
  background-color: rgba(0,0,0,.6);
}

.second-dark-modal {
  background-color: rgba(0,0,0,.2);
}

.direct-message-add-member-content {
  background-color: #f8f8f8;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 8px;
  z-index: 6;
  width: 500px;
  border: 1px solid rgba(66, 66, 66, 0.5);
}

.direct-message-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.direct-message-modal-input {
  height: 30px;
}

.direct-message-modal-title {
  font-size: 22px;
  font-weight: bold;
}

.direct-message-modal-close {
  padding: 0.3rem;
  border-radius: 5px;

}

.direct-message-modal-close:hover {
  cursor: pointer;
  background-color: #bebebe;
}

.direct-message-modal-search-results {
  position: absolute;
  top: 95%;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
  width: 95%;
  max-height: 400px;
  overflow-y: auto;
  padding: 0.5rem 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), 0 5px 8px 0 rgba(0,0,0,.3);
  font-weight: bold;
}

.sidebar-add-channel-modal-content {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: pxToRem(200);
  height: pxToRem(80);
  border-radius: .5em;
  background-color: #ffffff;
  border: 1px solid #bebebe;
  box-shadow: 0 0 0 1px rgba(201, 201, 201, 0.311), 0 0 12px 3px rgba(187, 187, 187, 0.226);
}

.sidebar-add-channel-modal-item {
  display: flex;
  align-items: center;
  padding: 0 1em;
  height: pxToRem(28)
}

.sidebar-add-channel-modal-item:hover {
  cursor: pointer;
  background-color: #1164A3;
  color: #ffffff;
}

.create-channel-modal-content{
  max-width: pxToRem(520);
  width: 100%;
  background-color: white;
  border-radius: .3em;
}

.create-channel-modal-header {
  display: flex;
  justify-content: space-between;
  font-size: pxToRem(28);
  font-weight: 900;
  padding: pxToRem(20) pxToRem(28);
}

.medium-icon {
  width: pxToRem(36);
  height: pxToRem(36);
}

.channel-modal-close-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .2em;
}


.channel-modal-close-container:hover {
  background-color: #f6f6f6;
  cursor: pointer;
  transition: .2s;
}

.channel-modal-close-button {
  width: 45%;
  height: 45%;
}

.create-channel-modal-body{
  display: flex;
  flex-direction: column;
  padding: 0 pxToRem(28);
  row-gap: 1.2em;
}

.create-channel-modal-body > p {
  line-height: 1.2em;
  color: rgba(68, 68, 68, 0.829);
}
.create-channel-modal-body small {
  color: rgba(68, 68, 68, 0.829);
  font-size: pxToRem(13);
}

.create-channel-modal-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: .7em;
}
.create-channel-modal-input-container > label {
  font-size: pxToRem(16);
  font-weight: 700;
}

.form-input {
  padding: pxToRem(11) pxToRem(12) pxToRem(13);
  border: 1px solid rgba(29,28,29,.3);
  border-radius: pxToRem(4);
}

.form-input:focus {
  // -- is a custom property name
  // var is used to insert the value of a css variable
  --highlight: rgba(18,100,163,1);
  box-shadow: 0 0 0 1px var(--highlight),0 0 0 5px rgba(29,155,209,.3);
  border-radius: 4px;
}

.channel-form-input {
  padding-left: 2em;
}

.create-channel-input-error {
  font-size: pxToRem(15);
  color: #e8912d;
  font-weight: 700;
}

.input-icon-channel-access {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: pxToRem(10);
  bottom: pxToRem(13);
  width: pxToRem(18);
  height: pxToRem(18);
}

.small-channel-access-icon {
  width: 80%;
  height: 80%
}

.create-channel-modal-change-access-container{
  display: flex;
  justify-content: space-between;
  column-gap: 3em;
}

.create-channel-modal-access-copy > h3 {
  font-weight: 700;
  margin-bottom: .2em;
}

.create-channel-modal-access-copy > p {
  line-height: 1.2em;
  color:rgba(68, 68, 68, 0.829)
}

.create-channel-modal-access-copy > p > strong {
  font-weight: 700;
}

.create-channel-button-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2em;
}

.submit-channel-button {
  padding: .5em 1em;
  border-radius: .2em;
  font-size: pxToRem(16);
  background-color: #007a5a;
  color: white;
}

.submit-channel-button-inactive {
  padding: .5em 1em;
  border-radius: .2em;
  font-size: pxToRem(16);
}
.submit-channel-button:hover {
  background-color: #148567;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.712);
}


// Try to make it reusable
.sidebar-modal-content {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: pxToRem(200);
  z-index: 200;
  border-radius: .4em;
  background-color: #ffffff;
  border: 1px solid #bebebe;
  box-shadow: 0 0 0 1px rgba(201, 201, 201, 0.311), 0 0 12px 3px rgba(187, 187, 187, 0.226);
  overflow: hidden;
}
.channel-options-item-container{
  display: flex;
  flex-direction: column;
}

.sidebar-modal-content-wide {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: pxToRem(250);
  z-index: 200;
  border-radius: .4em;
  background-color: #ffffff;
  border: 1px solid #bebebe;
  box-shadow: 0 0 0 1px rgba(201, 201, 201, 0.311), 0 0 12px 3px rgba(187, 187, 187, 0.226);
  overflow: hidden;
}


.channel-options-item{
  display: flex;
  align-items: center;
  padding: 0 1em;
  height: pxToRem(28)
}

.channel-options-item:hover {
  cursor: pointer;
  background-color: #1164A3;
  color: #ffffff;
}

.channel-details-modal-content {
  display: flex;
  width: pxToRem(580);
  flex-direction: column;
  overflow: hidden;
  row-gap: 1em;
  z-index: 4;
  justify-content: flex-start;
  background-color: #f8f8f8;
  border-radius: .5em;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), 0 18px 48px 0 rgba(0,0,0,.3);
}

.modal-bg-white {
  background-color: #ffffff;
}

.channel-details-modal-header {
  background-color: #ffffff;
  border-bottom: 1px solid rgb(177,177,177);
}

.channel-details-modal-title {
  display: flex;
  font-size: pxToRem(22);
  font-weight: 900;
  padding: 1em;
  justify-content: space-between;
}

.channel-details-modal-name {
  display: flex;
  align-items: center;
  color: #1d1c1d;
}

.channel-details-searchbar-container {
  padding: 0 1.5em;
  padding-bottom: 1em;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1em;
}

.channel-details-searchbar:hover {
  cursor: text;
  border: 1px solid rgb(59, 59, 59);
}

.channel-details-searchbar {
  display: flex;
  width: 100%;
  padding: 0.5rem 0;
  padding-left: 3rem;
}

.channel-details-input-clear {
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(59, 59, 59);
}

.channel-details-input-clear:hover {
  color:rgba(0, 0, 0, 0.87)
}

.channel-details-searchbar-icon-container{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: pxToRem(20);
  height: pxToRem(20);
  left: 1.5em;
  padding: 0 1rem;
}
.channel-details-members-search-container {
  overflow-y: auto;
}

.channel-details-members-list {
  overflow: auto;
  height: 300px;
}
.channel-details-inChannel-header, .channel-details-notInChannel-header {
  padding: 0 1.5rem;
  padding-top: 1rem;
  color: #6c6b6c;
  font-size: 13px;
  font-weight: bold;
}

.channel-details-notInChannel-container {
  border-top: 1px solid rgba(187, 187, 187, 0.527);
  background-color: #f8f8f8;
  height: 100%;
}

.fixed-modal {
  top: 20%;
}

.channel-details-tabs {
  display: flex;
  padding-left: 1.5rem;
  column-gap: 1em;
}

.active-tab {
  color:rgba(0, 0, 0, 0.87);
  border-bottom: 2px solid #1264a3;
}

.channel-details-modal-body-container {
  background-color: #f8f8f8;
  padding: 0em 1.5em 1em 1.5em;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
}
.channel-details-modal-body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: .5em;
  border: 1px solid rgb(177,177,177);
  overflow: hidden;
}

.channel-details-modal-body  h3 {
  font-weight: 700;
}

.channel-details-body-item:not(:last-child){
  border-bottom: 1px solid rgb(177,177,177);
}

.channel-details-description {
  display: flex;
  justify-content: space-between;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}

.channel-details-body-item {
  padding: 1em;
  line-height: 1.5em;
}

.channel-details-body-item:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}
.channel-details-close-icon {
  width: 15px;
  height: 15px;
  color: rgb(177,177,177)
}

.channel-details-close-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: pxToRem(20);
  height: pxToRem(20);
  padding: .1em;
  transition: .2s;
}

.channel-details-close-container:hover {
  background-color: rgba(226, 226, 226, 0.897);
  border-radius: .2em;
  cursor: pointer;
  transition: .2s;
}

.channel-details-leave-channel {
  color: #e01e5a
}

.channel-details-body-edit {
  color: #1264a3;
}

.channel-details-body-edit:hover {
  text-decoration: underline;
}

.channel-details-user-item-container{
  display: flex;
  padding: 1em 1.5em;
  column-gap: .7em;
  align-items: center;
}
.channel-details-user-item-container:hover {
  background-color: #e4e4e4;
  cursor: pointer;
}

.details-member-user-item-displayname {
  flex-grow: 1;
  font-weight: bold;
}

.channel-details-user-item-add {
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  color: $blue_accessible;
}

.channel-details-input {
  width: 100%;
}

.channel-details-user-item-add:hover {
  text-decoration: underline;
}

.channel-details-input-clear:hover {
  cursor: pointer;
}

.details-member-profile-icon-container{
  width: pxToRem(36);
  height: pxToRem(36);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: .3em .15em 0 .15em;
  border-radius: .3em;
  background-color: #949494;
  font-weight: bold;
}

.details-member-profile-icon {
  width: 100%;
  height: 100%;
  color: #f8f8f8;
}

.details-member-profile-icon-add-container{
  width: pxToRem(36);
  height: pxToRem(36);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: .3em .15em 0 .15em;
  border-radius: .3em;
  background-color: #e8f5fb;
  
}

.details-member-profile-icon-add {
  width: 100%;
  height: 100%;
  color: #1264a3;
}


.super-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 12;
}
.generic-modal-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  background-color: #ffffff;
  z-index: 15;
  border-radius: .5em;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), 0 18px 48px 0 rgba(0,0,0,.3);
}

.add-people-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  z-index: 15;
  border-radius: .5em;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), 0 18px 48px 0 rgba(0,0,0,.3);
}


.edit-channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: pxToRem(20);
  font-weight: 900;
}

.add-people-title-header {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}

.add-people-modal-sub-header {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: normal;
  color: #949494;
}

.add-people-subheader-lock {
  padding-right: 0.2rem;
}

.edit-channel-description-container {
  padding: 1.5em;
  overflow: hidden;
  width: pxToRem(450);
  row-gap: 1em;
  border-radius: .5em;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), 0 18px 48px 0 rgba(0, 0, 0, 0.3);
}

.generic-close-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: pxToRem(30);
  height: pxToRem(30);
  color: #949494;
  border-radius: .3em;
}

.generic-centered-icon {
  width: 80%;
  height: 50%;
}

.generic-close-icon-container:hover {
  cursor: pointer;
  background-color: #d6d6d6dc;
}
.generic-edit-modal-button-container {
  display: flex;
  justify-content: space-between;
  column-gap: .5em;
}

.edit-channel-description-footer {
  display: flex;
  justify-content: flex-end;
}

.edit-channel-description-textarea {
  resize: none;
  font-family: "Lato";
  font-size: pxToRem(16);
  line-height: 150%;
}

.add-people-channel-form {
  min-width: pxToRem(500);
  padding: 1.5em;
  row-gap: 1em;
}

input[type="radio"], input[type="radio"]:before, input[type="radio"]:after {
  all: revert;
}

.add-people-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: .5em;
  box-sizing: border-box;
  padding: 0.2rem;
}

.add-people-input {
  position: relative;
  column-gap: 0.2rem;
  width: 100%;
  max-width: 500px;
}

.add-people-input:hover {
  cursor:text;
}

.added-members-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: .5rem;
  column-gap: 0.3rem;
  row-gap: 0.3rem;
}

.invite-member-list-item{
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  column-gap: 0.5rem;
}

.invite-member-list-item:hover {
  cursor: pointer;
  color: white;
  background-color: #1164A3;
}

.user-card-item {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: #e8f5fb;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  height: 2rem;
  padding-right: 0.5rem;
}

.user-card-profile-icon-container{
  width: pxToRem(32);
  height: pxToRem(32);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: .3em .15em 0 .15em;
  border-radius: .3em;
  background-color: #949494;
}

.user-card-profile-icon {
  width: 100%;
  height: 100%;
  color: #f8f8f8;
}
.user-card-close-button {
  width: pxToRem(16);
  height: pxToRem(16);
  padding: 0.3rem;
  flex-shrink: 0;
}

.user-card-name {
  flex-shrink: 0;
}

.user-card-close-button:hover {
  background-color: #ddeaef;
  cursor: pointer;
}

.add-people-search-results {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  background-color: #f8f8f8;
  padding: 0.5rem 0;
  border-radius: 6px;
  font-size: 1rem;
  box-shadow: 0 0 0 1px rgb(82, 82, 82),0 5px 10px #0000001f;
  border: 1px solid rgba(165, 165, 165, 0.377);
}

.add-people {
  display: block;  
}

.radio-label:hover {
  cursor: pointer;
}

.radio-label strong {
  font-weight: bold;
}

.no-matches-found {
  padding: 0.5rem 2rem;
}

.membership-alert-modal {
  background-color: #ffffff;
  max-width: 500px;
  width: 100%;
  border-radius: .3em;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem 2rem;
}

.membership-alert-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.membership-alert-close-button {
  padding: 0.5rem;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 5px;
}

.membership-alert-close-button:hover {
  background-color: #bebebe;
  cursor: pointer;
}

.membership-alert-modal-header > h1 {
  font-size: 28px;
  font-weight: 900;
}

.membership-alert-body {
  font-size: 15px;
  color:rgb(59, 59, 59);
}

.membership-alert-btn-container {
  display: flex;
  justify-content: flex-end;
}

.membership-alert-btn-container > button {
  padding: 0.5rem 1rem;
}