.billboard-section {
  margin-top: pxToRem(80);
  background: $peach;     
}

.billboard-content {
  width: min(80rem, 90%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.headline {
  font-family: "Mulish";
  font-weight: 750;
  margin: 1rem 0;
  line-height: 1.1;
}

.jumbo {
  font-size: 2rem
}
.large {
  font-size: calc(1.5rem + (5 * (100vw - 400px)/ 624));
}

.header-copy {
  line-height: 1.3;
  font-weight: 500;
  font-size: calc(1.125rem + (2 * (100vw - 400px)/ 624));
  margin-bottom: 2rem;
}

.companies-container {
  width: min(80rem, 90%);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 1em;
  align-items: center;
  padding-top: 4rem;
}

.companies-container > a {
  margin: .8rem;
}

.billboard-btn-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
}


.peach-bg {
  background: $peach;
}

.featured-section{
  margin: 4rem 0;
}
.featured-content-nongif{
  width: min(80rem, 80%);
  margin: 0 auto;
  display: grid;

  grid-gap: 5rem;
}

.featured-content, .featured-content-inverse {
  width: min(80rem, 90%);
  margin: 0 auto;
  display: grid;
  grid-gap: 13rem;
}

.featured-content-inverse {
  direction: rtl;
}

.getting-started-container {
  width: min(80rem, 90%);
  margin: 0 auto;
}

.show-image {
  display: none;
}

@media only screen and (min-width: 768px){
  .billboard-content {
    display: grid;
    grid-template-columns: 40% 55%;
    column-gap: 5%;
  }
  .jumbo {
    font-size: 4rem;
  }

  .featured-content-nongif{
    grid-template-columns: repeat(2, minmax(300px,50%));
  }

  .featured-content, .featured-content-inverse {
    grid-template-columns: repeat(2, minmax(300px,50%));

  }

  .billboard-btn-container{
    flex-direction: row;
    column-gap: 1em;
    width: 80%;
  }
  .show-image {
    display: block;
  }

  .featured-section {
    margin-top: 3rem;
    margin-bottom: 6rem;
  }
}


// .bg-purple {
//   background-color: $aubergine;
// }

// .billboard::after{
//   display:block;
//   content: "";
//   margin-top: pxToRem(-70);
//   height: pxToRem(36);
//   background-color: $white;
// }


// .content-container-one, .content-container-two {
//   width: min(80rem, 90%);
//   margin: 0 auto;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .content-one-copy {
//   display: flex;
//   flex-direction: column;
//   row-gap: 1em;
//   p {
//     line-height: 1.5rem;
//     font-size: 1.15rem;
//   }
// }




// .splash-illustration-one {
//   text-align: center;
//   svg {
//     width: 80%;
//     min-width: 280px;
//   }
//   margin-top: -1rem;
//   margin-bottom: -2.5rem;
// }




// .content-two-copy {
//   display: flex;
//   flex-direction: column;
//   row-gap: 1em;
//   h2 {
//     font-family: "Mulish";
//     font-size: 2rem;
//     font-weight: 700;
//   }
//   p {
//     line-height: 1.5rem;
//     font-size: 1.15rem;
//   }
// }

// .content-container-two-links > span {
//   display: block;
//   width: 100%;
//   padding: 1em 0;
// }


// @media only screen and (min-width: 768px){
//   .content-container-one{
//     display: grid;
//     grid-template-columns: 40% 55%;
//     column-gap: 5%;
//     h1 {
//       font-size: 4rem;
//     }
//     p {
//       font-size: 1.25rem;
//     }
//   }

//   .content-container-two {
//     width: min(80rem, 90%);
//     margin: 0 auto;
//     display: grid;
//     grid-template-columns: 40% 55%;
//     column-gap: 5%;
//   }

//   .splash-illustration-one {
//     margin: pxToRem(12) 0;
//     text-align: right;
//     svg {
//       width: 100%;
//       min-width: 200px;
//     }
//     margin-bottom: 0;
//   }

//   .left-align {
//     text-align: left;
//   }

//   .content-container-two-links > span {
//     max-width: pxToRem(188);
//   }
   
// }
// .workspace-icon {
//   width: 90px;
//   height: 100%;
// }

// .hero-container-one {
//   padding-top: 8rem;
//   width: min(80rem, 90%);
//   margin: 0 auto;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   header {
//     color: $white;
//     font-family: "Mulish";
//     font-weight: 700;
//     font-size: 2rem;
//     padding-bottom: 1em;
//   }
// }
// .billboard-workspaces-container {
//   width: 100%;
//   border: 4px solid rgba(255, 255, 255, .3);
//   background-clip: padding-box;
//   border-radius: .5rem;
//   display: flex;
//   flex-direction: column;
//   row-gap: 1em;
//   background-color: $white;
//   header {
//     border-top-left-radius: .5rem;
//     border-top-right-radius: .5rem;
//     height: 2em;
//     background: $billboard_bg;
//     color: $black;
//     overflow: hidden;
//     font-size: 1.125rem;
//     border-bottom: 1px solid $aubergine_null;
//     p {
//       vertical-align:middle;
//     }
//   }
// }

// .billboard-workspaces-flex {
//   display: flex;
//   width: 90%;
//   flex-direction: column;
//   margin: auto;
//   .billboard-button-container {
//     width: 100%;
//     height: 100%;
//   }
//   row-gap: 1em;
// }

// .workplace-description {
//   display: flex;
// }

// .billboard-button {
//   display: block;
//   width: 100%;
//   line-height: 2.8em;
//   height: 3em;
// }

