.billboard-section {
  background: $peach;     
}

.billboard-section-purple {
  background: $aubergine;  
  padding-bottom: 20rem;   
}

.billboard-content {
  padding-top: pxToRem(120);
  width: min(80rem, 90%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.billboard-loggedin-content {
  padding-top: pxToRem(120);
  width: min(66rem, 80%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.welcome-banner {
  display: flex;
  align-items: flex-end;
  font-weight: 900;
  // Why can't I get clamp to work?
  font-size: 3rem;
  color: $white;
  column-gap: .3em;
  margin-bottom: pxToRem(24);
}

.welcome-banner > img {
  width: pxToRem(52);
}

.billboard-btn-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
}

.billboard-alt-container {
  width: 100%;
  border: 4px solid rgba(255, 255, 255, .3);
  background-clip: padding-box;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  background-color: $white;
}

.billboard-workspaces-header {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  height: 2.5em;
  background: $billboard_bg;
  color: $black;
  overflow: hidden;
  font-size: 1.125rem;
  border-bottom: 1px solid $aubergine_null;
  display: flex;
  align-items: center;
}

.billboard-workspace-item {
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: repeat(2,1fr);
  padding: 1em;
}

.billboard-workspace-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.5em;
}

.alt-grid {
  display: grid;
  grid-template-rows: 50px 1fr auto;
  min-height: 90px;
  align-items: center;
}


.alt-grid img {
  margin: -6.6rem 0rem -47px;
  width: 200px;
}

.grid-span-2 {
  grid-column: span 2;
}

.billboard-workspace-item img {
  width: pxToRem(50);
}

.headline {
  font-family: "Mulish";
  font-weight: 750;
  margin: 1rem 0;
  line-height: 1.1;
}

.jumbo {
  font-size: 2rem
}

.larger {
  font-size: 1.8rem;
}
.large {
  font-size: calc(1.5rem + (5 * (100vw - 400px)/ 624));
}

.header-copy {
  line-height: 1.3;
  font-weight: 500;
  font-size: calc(1.125rem + (2 * (100vw - 400px)/ 624));
  margin-bottom: 2rem;
}

.companies-container {
  width: min(80rem, 90%);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 1em;
  align-items: center;
  padding-top: 4rem;
}

.companies-container > a {
  margin: .8rem;
}

.peach-bg {
  background: $peach;
}

.featured-section{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.featured-content-nongif{
  width: min(80rem, 80%);
  margin: 0 auto;
  display: grid;

  grid-gap: 5rem;
}

.featured-content, .featured-content-inverse {
  width: min(80rem, 90%);
  margin: 0 auto;
  display: grid;
  grid-gap: 20rem;
}

.featured-content-inverse {
  direction: rtl;
}

.featured-text-container {
  text-align: left;
}

.show-image {
  display: none;
}

.getting-started-container {
  width: min(80rem, 90%);
  margin: 0 auto;
}

.getting-started-container .headline {
  text-align: center;
}

.getting-started-grid {
  display: grid;
  grid-gap: 1em;
}

.get-started-grid-item{
  padding: 1em;
}

.get-started-grid-item > h3 {
  padding: 1em 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.get-started-grid-item > p {
  padding: 1em 0;
  line-height: 1.3em;
  font-weight: 500;
}

.get-started-num {
  display: inline-block;
  font-size: 1.2rem;
  background-color: $aubergine;
  color: white;
  font-weight: bold;
  padding: .5em .8em;
  border-radius: .3em;
}
.loggedin-promos-container {
  width: min(80rem, 90%);
  margin: 0 auto;
  margin-top: -12rem;
  margin-bottom: 5em;
}
.loggedin-promo-header{
  font-size: 2rem;
  font-weight: 700;
  color: $white;
  padding-bottom: 3rem;
}

.loggedin-promos-grid {
  display: flex;
  justify-content: space-between;
}
.loggedin-promo-item {
  width: pxToRem(300);
  height: pxToRem(448);
  background-color: $white;
  box-sizing: border-box;
  padding: pxToRem(12);
  box-shadow: 0 0 2rem rgba(0,0,0,.2);
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2rem;

}
.loggedin-promo-item:hover {
  transform: scale(1.1);
  transition: .5s;
  cursor: pointer;
}

.footer-hr-separator{
  margin-top: 3em;
  margin: 0 auto;
  width: 90%;
}

.footer-hr-separator hr {
  // Why does adding border none first make the line smaller?
  border-top: 1px solid #ddd
}
@media only screen and (min-width: 768px){
  .billboard-content {
    display: grid;
    grid-template-columns: 40% 55%;
    column-gap: 5%;
  }
  .jumbo {
    font-size: 4rem;
  }

  .larger {
    font-size: 2.8rem;
  }

  .featured-content-nongif{
    grid-template-columns: repeat(2, minmax(300px,50%));
  }

  .featured-content, .featured-content-inverse {
    grid-template-columns: repeat(2, minmax(300px,50%));
  }

  .alt-grid {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .alt-grid :where(h2, div) {
    padding: 0 1em;
  }

  .alt-grid h2 {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .alt-grid div {
    width: pxToRem(300)
  }
  
  .alt-grid :nth-child(2) { 
    order: -1 
  }

  .alt-grid img {
    grid-row-start: 1;
    margin: -1rem 0rem -47px;
  }

  .billboard-btn-container{
    flex-direction: row;
    column-gap: 1em;
    width: 80%;
  }

  .billboard-workspace-item {
    display: flex;
    column-gap: 1em;
    a {
      width: 10em;
      margin-left: auto;
    }
  }
  .show-image {
    display: block;
  }

  .getting-started-grid {
    margin-top: 2em;
    grid-template-columns: repeat(3, 1fr);
  }
}