.session-page {
  display: block;
  height: 100vh;
}
.session-form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.session-form-container > header {
  display: grid;
  width: 100%;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding: pxToRem(48) 0 pxToRem(40) 0;
}

.session-form-logo {
  text-align: center;
  svg {
    width: pxToRem(135);
    height: 100%;
  }
}

.session-form-container > h1 {
  font-family: 'PlusJakartaSans';
  font-weight: bold;
  font-size: pxToRem(48);
  text-align: center;
  margin-bottom: .6em;
  max-width: 700px;
}

.session-form-container > h2 {
  color: #454245;
  text-align: center;
  font-size: pxToRem(18);
  max-width: 700px;
  strong {
    font-weight: 700;
  }
}

.horizontal-content-rule {
  margin: .6em 0;
  width: 100%;
  max-width: pxToRem(400);
}

.horizontal-content-rule hr {
  // Why does adding border none first make the line smaller?
  border: none;
  border-top: 1px solid #ddd
}

.session-form {
  display: flex;
  flex-direction: column;
  max-width: pxToRem(400);
  width: 100%;
  row-gap: pxToRem(25);
  margin-bottom: pxToRem(42);
}

.session-form > input:not(:last-child) {
  padding: pxToRem(11) pxToRem(12) pxToRem(13);
  border: 1px solid rgba(29,28,29,.3);
  border-radius: pxToRem(4);
}

.session-form > input:focus {
  // -- is a custom property name
  // var is used to insert the value of a css variable
  --highlight: rgba(18,100,163,1);
  box-shadow: 0 0 0 1px var(--highlight),0 0 0 5px rgba(29,155,209,.3);
  border-radius: 4px;
}

.session-form input[type=submit] {
  padding-top: .7em;
  padding-bottom: .7em;
  font-size: pxToRem(18);
  font-weight: 900;
  
}

.session-form input[type=submit]:hover {
  background-color: $aubergine_active;
}

.session-form-switch {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .5em;
  color: #616061;
  a {
    color: #1264a3
  }
  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.session-form-footer {
  flex-grow: 1;
  display: flex;
  width: 100%;
  max-width: pxToRem(400);
  justify-content: center;
  align-items: flex-end;
  a {
    margin: pxToRem(32) 0;
    padding: 0 pxToRem(10);
    color: #696969;
  }
}


